<h1>Listing tasks</h1>
<%= javascript_include_tag :defaults %>

<ul id="tasks">
 
<% @tasks.each do |task| %>
  <% if task.id_user==current_user.id %>
    <%= render task %>
   <div id="form", style="display: none">
      <%= render :partial => "form" %>
   </div>  
<% end %>
<% end %>
</ul>

<div id="form">
  <%= render :partial => "form" %>
</div>

