<h1>Listing tasks</h1>
<%= javascript_include_tag :defaults %>

<ul id="tasks">
 
<% @tasks.each do |task| %>
  <% if task.id_user = current_user then %>
    <%= render task %>
  <% end %>
<% end %>
</ul>

<h2>Entry form</h2>
<div id="form">
  <%= render :partial => "form" %>
</div>

